@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
:root {
  --main-bg-color: #f7f7f7;
  --main-font-color: #222;
  --font: 'Cabin', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  scroll-behavior: smooth;
}

a{
  color: inherit;
  text-decoration: inherit;
}

::selection {
  color: #1a1a1a;
  background-color: #919191;
}