.banner {
  width: 100%;
  min-height: 120vh;
  padding: 50px 0;
}

.products_container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 25px;
}

.product_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrapper_img img {
  width: 100%;
}

.wrapper_top {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  color: #1a1a1a;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 0px 0 0px 15px;
}

.icon {
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}
.wrapper_img {
  background-color: #f2f2f1;
  cursor: pointer;
}

.wrapper_img img {
  width: 100%;
  object-fit: cover;
}

.banner_text {
  width: 70%;
  height: 230px;
  margin: 0px auto;
  text-align: center;
  display: grid;
  z-index: -2;
  place-items: center;
  user-select: none;
}

.banner_text h1 {
  font-weight: 600;
  position: relative;
  padding: 0px 0px 23px 0;
  letter-spacing: 2px;
}

.banner_text h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background-color: #1a1a1a;
}

.banner_text p {
  width: 59%;
  font-size: 16px;
  line-height: 20px;
  /* text-align: center; */
}

.title_product {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 10px 0px;
}

.title_product h4 {
  margin: 10px 0px;
}

.btn {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  width: 130px;
  height: 45px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transform: scale(1);
  transition: 600ms ease;
  margin: auto;
}

.btn span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.btn span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.btn:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.btn:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.btn:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.btn:active {
  transform: scale(0.8);
}

@media screen and (max-width: 1240px) {
  .products_container {
    grid-template-columns: repeat(4, 1fr);
  }
}